.issue-content {
    display: grid;
    grid-template-columns: 3fr 1fr;

    .left {

        align-items: center;
        background-color: whitesmoke;
    }

    .right {
        display: flex;
        justify-content: center;
        height: calc(100vh - 164.5px);
        background-color: blanchedalmond;
    }
}

.header {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;

    .header-right {
        margin-right: 185px;
        display: flex;
        padding-right: 25px;
        align-items: center;
    }
}


